<h4>OVERVIEW</h4>
<p>This tool is used for several ATNA-profile-related functions for Connectathons:</p>
<ul>
    <li>Generate digital certificates for pre-Connectathon &amp; Connectathon testing</li>
    <li>Complete your ATNA Questionnaire, including audit message validation</li>
    <li>Test your TLS implementation</li>
</ul>
<h4>DIGITAL CERTIFICATES</h4>
<p>Instructions for using this tool to obtain a digital certificate for Connectathon testing are found in test <a
        href="/content/11100-obtain-digital-certificate-atna-testing">11100.</a> The CA certificate is available <a
        href="/gss/details/cert.seam?id=643">here</a>. Please, add it to your truststore in order to be able to test
    with other participants and Gazelle TLS simulators.</p>
<h4>ATNA QUESTIONNAIRE</h4>
<p>ATNA Questionnaires for Connectathon test systems are created using menu AuditTrail > ATNA Questionnaires. Find
    instructions in test <a href="/content/11106-atna-questionnaire">11106</a>.
<h4>TLS IMPLEMENTATION TESTING</h4>
<p>For pre-Connectathon testing, this is test <a href="/content/pre-connectathon-tests/atna/11109">11109</a>.</p>
<h5><span style="text-decoration: underline;">SERVER SIMULATORS</span></h5>
<p>To check your SUT as a consumer/client, the tool will act as a server.&nbsp; You may connect to those TLS simulators
    :</p>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>Server</th>
                <th>address</th>
            </tr>
            <tr>
                <td><a href="/gss/server/test.seam?simulator=13781">DICOM server</a></td>
                <td>(188.165.194.55:10006)</td>
            </tr>
            <tr>
                <td><a href="/gss/server/test.seam?simulator=13798">HL7 V2 server</a></td>
                <td>(188.165.194.55:10007)</td>
            </tr>
            <tr>
                <td><a href="/gss/server/test.seam?simulator=13794">HTTPS server</a></td>
                <td>(188.165.194.55:10011)</td>
            </tr>
            <tr>
                <td><a href="/gss/server/test.seam?simulator=13790">Syslog server</a></td>
                <td>(188.165.194.55:10009)</td>
            </tr>
            <tr>
                <td><a href="/gss/server/test.seam?simulator=13786">Raw / Any server</a></td>
                <td>(188.165.194.55:10070)</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<h5><span style="text-decoration: underline;">CLIENT SIMULATORS</span></h5>
<p>To check your SUT as a provider/server, the simulator will act as a client.&nbsp; You can start a connection from <a
        href="/gss/client/test.seam?simulator=13802">this TLS client simulator</a>. <span style="font-style: italic;">You must be logged to start a connection.</span>
</p>
