<ui:composition xmlns:s="http://jboss.org/schema/seam/taglib" xmlns:gdk="http://www.ihe.net/gazellecdk"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:rich="http://richfaces.org/rich"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:g="http://www.ihe.net/gazelle"
                xmlns="http://www.w3.org/1999/xhtml">
    <!-- parameters : simulatorList (must extends AbstractSimulatorListBean -->
    <!-- inserts: additionalButtons, additionalColumns, additionalActions -->

    <s:div styleClass="gzl-alert gzl-alert-orange" rendered="#{not identity.loggedIn}">
        <span class="fa fa-exclamation-triangle"></span>
        <h:outputText value="#{messages['net.ihe.gazelle.atna.YouMustBeLoggedOntoTheApplicationToStartATest']}"/>
    </s:div>

    <h:form id="globalActionsForm">
        <!--<s:token allowMultiplePosts="true"/>-->
        <p>
            <h:outputLink value="#{simulatorList.linkToNewSimulator()}"
                          styleClass="gzl-btn" rendered="#{s:hasRole('admin_role')}">
                <span class="fa fa-plus"></span>
                <h:outputText value="#{messages['net.ihe.gazelle.atna.NewSimulator']}"/>
            </h:outputLink>

            <ui:insert name="additionalGlobalActions"/>
        </p>
    </h:form>

    <h:form id="filterForm">
        #{dataTableStateHolder.setAscendingOn('keyword')}
        <!--<s:token allowMultiplePosts="true"/>-->
        <h:inputHidden id="filterUrlParameters" name="filterUrlParameters"
                       value="#{simulatorList.filter.urlParameters}"/>
        <script>
            updateUrl("filterForm:filterUrlParameters");
            jq162("#filterForm\\:filterUrlParameters").bind('change',
                function () {
                    updateUrl("filterForm:filterUrlParameters");
                });
        </script>
        <a4j:queue requestDelay="300" ignoreDupResponses="true"/>

        <ui:decorate template="/layout/panels/_panel_filter_criteria.xhtml">

            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-6">

                        <ui:decorate template="/layout/form/_form_checkbox_horizontal_4-8.xhtml">
                            <h:selectBooleanCheckbox value="#{simulatorList.showOnlyEnabled}">
                                <a4j:ajax event="change" render="filterForm,simulatorTableForm"/>
                            </h:selectBooleanCheckbox>
                            #{messages['net.ihe.gazelle.atna.HideDisabledSimulators']}
                        </ui:decorate>

                    </div>
                    <div class="col-md-6">
                        <ui:insert name="additionalFilters"/>
                    </div>
                </div>
            </div>

            <ui:define name="filter_buttons">
                <a4j:commandLink title="#{messages['net.ihe.gazelle.atna.ResetCriteria']}"
                                 actionListener="#{simulatorList.resetFilter()}"
                                 render="simulatorTableForm, filterForm">
                    <span class="fa fa-times-circle"></span>
                </a4j:commandLink>
            </ui:define>

        </ui:decorate>

    </h:form>


    <h:form id="simulatorTableForm">
        <!--<s:token allowMultiplePosts="true"/>-->
        <rich:dataTable id="simulatorTable" value="#{simulatorList.getSimulators()}" var="simulator"
                        rows="#{dataScrollerMemory.numberOfResultsPerPage}" render="simulatorsDS">
            <g:column sortBy="#{'keyword'}" sortOrder="#{dataTableStateHolder.sortOrders['keyword']}"
                      filterBy="#{'keyword'}">
                <ui:define name="header">
                    <h:outputText value="#{messages['net.ihe.gazelle.atna.Keyword']}"/>
                </ui:define>
                <h:outputText value="#{simulator.keyword}&#160;"/>
                <h:outputText rendered="#{not simulator.enabled}" styleClass="gzl-label gzl-label-red"
                              value="#{messages['net.ihe.gazelle.atna.Disabled']}"/>
            </g:column>
            <g:column sortBy="#{'certificate.subject'}"
                      sortOrder="#{dataTableStateHolder.sortOrders['certificateSubject']}"
                      filterBy="#{'certificate.subject'}">
                <ui:define name="header">
                    <h:outputText value="#{messages['net.ihe.gazelle.atna.Certificate']}"/>
                </ui:define>
                <h:outputText value="#{simulator.certificate.subject}"
                              rendered="#{simulator.certificate != null}"/>
                <h:outputText value="#{messages['net.ihe.gazelle.atna.None']}" style="font-style:italic"
                              rendered="#{simulator.certificate == null}"/>
            </g:column>
            <rich:column>
                <f:facet name="header">
                    <h:outputText value="#{messages['net.ihe.gazelle.atna.Connections']}"/>
                </f:facet>
                <h:outputText value="#{simulator.connections.size()}"/>
            </rich:column>
            <ui:insert name="additionalColumns"/>

            <rich:column styleClass="text-right">
                <f:facet name="header">#{messages['net.ihe.gazelle.atna.Actions']}</f:facet>
                <div class="gzl-never-wrap">

                    <h:outputLink value="#{simulatorList.accessLogs(simulator.id)}"
                                  title="#{messages['net.ihe.gazelle.atna.ConnectionLogs']}">
                        <s:span styleClass="fa fa-history"></s:span>
                    </h:outputLink>

                    <h:outputLink value="#{simulatorList.linkToViewSimulator(simulator.id)}"
                                  title="#{messages['net.ihe.gazelle.atna.View']}">
                        <s:span styleClass="fa fa-search"></s:span>
                    </h:outputLink>

                    <h:outputLink value="#{simulatorList.linkToViewSimulator(simulator.id)}"
                                  title="#{messages['net.ihe.gazelle.atna.Run']}"
                                  rendered="#{identity.loggedIn}">
                        <s:span styleClass="gzl-icon-play"></s:span>
                    </h:outputLink>

                    <ui:insert name="additionalActions"/>

                    <h:outputLink value="#{simulatorList.linkToEditSimulator(simulator.id)}" title="#{messages['net.ihe.gazelle.atna.Edit']}"
                                  rendered="#{s:hasRole('admin_role')}">
                        <s:span styleClass="gzl-icon-pencil"></s:span>
                    </h:outputLink>

                    <a4j:commandLink action="#{simulatorList.duplicateSimulator(simulator.id)}" styleClass="gzl-text-blue"
                                     title="#{messages['net.ihe.gazelle.atna.DuplicateSimulator']}" rendered="#{s:hasRole('admin_role')}"
                                     render="simulatorTableForm,filterForm">
                        <s:span styleClass="gzl-icon-files-o"></s:span>
                    </a4j:commandLink>

                    <a4j:commandLink action="#{simulatorList.enableSimulator(simulator.id)}"
                                     styleClass="gzl-text-green"
                                     title="#{messages['net.ihe.gazelle.atna.Enable']}"
                                     rendered="#{s:hasRole('admin_role') and not simulator.enabled}"
                                     render="simulatorTableForm,filterForm">
                        <s:span styleClass="fa fa-ban"></s:span>
                    </a4j:commandLink>

                    <a4j:commandLink action="#{simulatorList.disableSimulator(simulator.id)}"
                                     styleClass="gzl-text-red"
                                     title="#{messages['net.ihe.gazelle.atna.Disable']}"
                                     rendered="#{s:hasRole('admin_role') and simulator.enabled}"
                                     render="simulatorTableForm,filterForm">
                        <s:span styleClass="fa fa-ban"></s:span>
                    </a4j:commandLink>

                    <a4j:commandLink action="#{simulatorList.setSelectedSimulatorId(simulator.id)}"
                                     styleClass="text-danger"
                                     title="#{messages['net.ihe.gazelle.atna.Delete']}"
                                     oncomplete="jq162('#deleteModal').modal('show');"
                                     rendered="#{s:hasRole('admin_role') and not simulator.enabled and not simulatorList.hasConnections(simulator.id)}"
                                     render=" :deleteText">
                        <s:span styleClass="fa fa-trash-o"></s:span>
                    </a4j:commandLink>

                </div>
            </rich:column>

            <f:facet name="footer">
                <ui:include src="/util/datatableFooter.xhtml">
                    <ui:param name="dataScrollerId" value="simulatorsDS"/>
                    <ui:param name="dataTableId" value="simulatorTable"/>
                </ui:include>
            </f:facet>

        </rich:dataTable>

    </h:form>


    <ui:decorate template="/layout/popup/_popup_title_footer.xhtml">
        <ui:param name="popup_id" value="deleteModal"/>
        <ui:define name="popup_title"><span class="fa fa-exclamation-triangle"></span>#{messages['net.ihe.gazelle.questionnaire.Warning']}
        </ui:define>
        <s:div id="deleteText">
            <h:outputText
                    value="#{messages['net.ihe.gazelle.atna.YouAreAboutToDeleteSimulator']}#{simulatorList.getSelectedSimulatorKeyword()}'. #{messages['net.ihe.gazelle.questionnaire.ThisCanNotBeUndone']}"/>
        </s:div>
        <ui:define name="popup_footer">
            <h:form id="deleteForm">
                <!--<s:token allowMultiplePosts="true"/>-->
                <h:commandButton action="#{simulatorList.setSelectedSimulatorId(0)}"
                                 oncomplete="jq162('#deleteModal').modal('hide');"
                                 value="#{messages['net.ihe.gazelle.atna.Cancel']}"
                                 styleClass="gzl-btn"/>
                <a4j:commandButton action="#{simulatorList.deleteSelectedSimulator()}"
                                   oncomplete="jq162('#deleteModal').modal('hide')"
                                   value="#{messages['net.ihe.gazelle.atna.Delete']}"
                                   render="gazelle-messages,simulatorTableForm,filterForm"
                                   styleClass="gzl-btn-red"/>
            </h:form>
        </ui:define>
    </ui:decorate>


</ui:composition>
