<ui:composition xmlns:gri="http://java.sun.com/jsf/composite/gri" xmlns:gdk="http://www.ihe.net/gazellecdk"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml">
    <gri:panel pid="messages">
        <f:facet name="header">#{messages['net.ihe.gazelle.atna.ExchangedMessages']}</f:facet>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#requesttab" aria-controls="requesttab" role="tab"
                   data-toggle="tab">#{messages['net.ihe.gazelle.atna.MessageSentByTheTool']}</a>
            </li>
            <li role="presentation">
                <a href="#responsetab" aria-controls="responsetab" role="tab" data-toggle="tab">#{messages['net.ihe.gazelle.atna.MessageReceivedFromSUT']}</a>
            </li>
        </ul>

        <div class="tab-content tab-content-with-border">
            <div role="tabpanel" class="tab-pane active" id="requesttab">
                <gdk:insert
                        content="#{requestContent}"
                        highlight="xml" encoding="UTF-8"/>
            </div>
            <div role="tabpanel" class="tab-pane" id="responsetab">
                <gdk:insert
                        content="#{responseContent}"
                        highlight="xml" encoding="UTF-8"/>
            </div>
        </div>
    </gri:panel>
</ui:composition>