<ui:composition xmlns:s="http://jboss.org/schema/seam/taglib" xmlns:gdk="http://www.ihe.net/gazellecdk"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:rich="http://richfaces.org/rich"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:g="http://www.ihe.net/gazelle"
                xmlns="http://www.w3.org/1999/xhtml">
    <!-- parameters: browserBean (extends ConnectionBrowser), displaySimulatorFilter -->
    <h:form id="browserform">
        <h:inputHidden id="filterUrlParameters" name="filterUrlParameters" value="#{browserBean.filter.urlParameters}"/>
        <script>
            updateUrl("browserform:filterUrlParameters");
            jq162("#browserform\\:filterUrlParameters").bind('change',
                    function () {
                        updateUrl("browserform:filterUrlParameters");
                    });
        </script>
        <a4j:queue requestDelay="300" ignoreDupResponses="true"/>

        <ui:decorate template="/layout/panels/_panel_filter_criteria.xhtml">

            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-6">

                        <ui:include src="/filter/filter.xhtml">
                            <ui:param name="filter" value="#{browserBean.filter}"/>
                            <ui:param name="filterId" value="remoteHost"/>
                            <ui:param name="filterName" value="#{messages['net.ihe.gazelle.atna.SUTHost']}"/>
                            <ui:param name="filterForm" value="browserform"/>
                        </ui:include>

                        <ui:include src="/filter/filter.xhtml">
                            <ui:param name="filter" value="#{browserBean.filter}"/>
                            <ui:param name="filterId" value="success"/>
                            <ui:param name="filterName" value="#{messages['net.ihe.gazelle.atna.Success']}"/>
                            <ui:param name="filterForm" value="browserform"/>
                        </ui:include>

                    </div>
                    <div class="col-md-6">

                        <h:panelGroup rendered="#{displaySimulatorFilter}">
                            <ui:include src="/filter/filter.xhtml">
                                <ui:param name="filter" value="#{browserBean.filter}"/>
                                <ui:param name="filterId" value="simulator"/>
                                <ui:param name="filterName" value="#{messages['net.ihe.gazelle.atna.Simulator']}"/>
                                <ui:param name="filterForm" value="browserform"/>
                            </ui:include>
                        </h:panelGroup>

                        <ui:include src="/filter/filterDate.xhtml">
                            <ui:param name="form_template" value="/layout/form/_form_field_horizontal_4-8.xhtml"/>
                            <ui:param name="filter" value="#{browserBean.filter}"/>
                            <ui:param name="filterId" value="timestamp"/>
                            <ui:param name="filterName" value="#{messages['net.ihe.gazelle.proxy.Timestamp']}"/>
                            <ui:param name="filterForm" value="browserform"/>
                        </ui:include>

                    </div>
                </div>
            </div>


            <ui:define name="filter_buttons">
                <a4j:commandLink title="#{messages['net.ihe.gazelle.proxy.Refresh']}"
                                 actionListener="#{browserBean.reload()}" render="browserform">
                    <span class="fa fa-refresh"></span>
                </a4j:commandLink>
                <a4j:commandLink title="#{messages['net.ihe.gazelle.atna.ResetCriteria']}"
                                 actionListener="#{browserBean.reset()}" render="browserform">
                    <span class="fa fa-times-circle"></span>
                </a4j:commandLink>
            </ui:define>

        </ui:decorate>


        #{dataTableStateHolder.setDescendingOn('date')}
        <rich:dataTable id="connectionTable" value="#{browserBean.connections}" var="connection"
                        rows="#{dataScrollerMemory.numberOfResultsPerPage}" render="connectionDS">
            <g:column sortBy="#{'date'}" sortOrder="#{dataTableStateHolder.sortOrders['date']}">
                <ui:define name="header">
                    <h:outputText value="#{messages['net.ihe.gazelle.proxy.Timestamp']}"/>
                </ui:define>
                <g:date value="#{connection.date}"/>
            </g:column>
            <rich:column>
                <f:facet name="header">
                    <h:outputText value="#{messages['net.ihe.gazelle.atna.HandshakeSuccess']}"/>
                </f:facet>
                <s:span styleClass="gzl-icon-circle-blue" rendered="#{connection.success}"
                        title="#{messages['net.ihe.gazelle.atna.HandshakeSucceed']}"></s:span>
                <s:span styleClass="gzl-icon-circle-red" rendered="#{not connection.success}"
                        title="#{messages['net.ihe.gazelle.atna.HandshakeFailed']}"/>
            </rich:column>
            <g:column sortBy="#{'localHost'}" sortOrder="#{dataTableStateHolder.sortOrders['localHost']}"
                      filterBy="#{'localHost'}">
                <ui:define name="header">
                    <h:outputText value="#{messages['net.ihe.gazelle.atna.SimulatorAddress']}"/>
                </ui:define>
                <s:div>
                    <h:outputText value="#{connection.localHost}"/>
                    <h:outputText value=":"/>
                    <h:outputText value="#{connection.localPort}"/>
                </s:div>
            </g:column>
            <g:column sortBy="#{'remoteHost'}" sortOrder="#{dataTableStateHolder.sortOrders['remoteHost']}"
                      filterBy="#{'remoteHost'}">
                <ui:define name="header">
                    <h:outputText value="#{messages['net.ihe.gazelle.atna.SystemUnderTestAddress']}"/>
                </ui:define>
                <s:div>
                    <h:outputText value="#{connection.remoteHost}"/>
                    <h:outputText value=":"/>
                    <h:outputText value="#{connection.remotePort}"/>
                </s:div>
            </g:column>
            <rich:column styleClass="text-right">
                <f:facet name="header">#{messages['net.ihe.gazelle.atna.Actions']}</f:facet>

                <h:outputLink value="#{browserBean.getPermanentLink(connection.id)}"
                              title="#{messages['net.ihe.gazelle.atna.View']}">
                    <s:span styleClass="fa fa-search"></s:span>
                </h:outputLink>

            </rich:column>

            <f:facet name="footer">
                <ui:include src="/util/datatableFooter.xhtml">
                    <ui:param name="dataScrollerId" value="connectionDS"/>
                    <ui:param name="dataTableId" value="connectionTable"/>
                </ui:include>
            </f:facet>

        </rich:dataTable>
    </h:form>
</ui:composition>
