<ui:composition xmlns:g="http://www.ihe.net/gazelle" xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jstl/core" xmlns:gdk="http://www.ihe.net/gazellecdk"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:gazelle="http://www.ihe.net/gazelle" xmlns:h="http://java.sun.com/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml">
    <h:form id="menuForm">
        <ui:decorate template="/layout/menu/_menu_template.xhtml">

            <ui:define name="menu_title">
                <h:outputLink styleClass="navbar-brand"
                              value="#{applicationManagerBean.getUrl()}/home.seam">
                    <h:outputText value="#{applicationManagerBean.getTitle()}"/>
                </h:outputLink>
            </ui:define>

            <ui:define name="menu_logo">
                <h:graphicImage library="img" name="gazelle.png" height="34px"/>
            </ui:define>

            <ui:define name="menu_navigation_links">
                <ui:include src="/layout/menu/_generate_navigation_links.xhtml">
                    <ui:param name="icon_template" value="/layout/menu/_fontawesome_icon_template.xhtml"/>
                    <ui:param name="url_base_name" value="#{applicationManagerBean.getUrlBaseResource()}"/>
                    <ui:param name="menu" value="#{applicationManagerBean.mainMenu}"/>
                </ui:include>
            </ui:define>

            <ui:define name="menu_user_actions_right">
                <ui:include src="/layout/menu/_generate_navigation_links.xhtml">
                    <ui:param name="icon_template" value="/layout/menu/_fontawesome_icon_template.xhtml"/>
                    <ui:param name="url_base_name" value="#{applicationManagerBean.getUrlBaseResource()}"/>
                    <ui:param name="menu" value="#{applicationManagerBean.sideMenu}"/>
                </ui:include>
                <li>
                    <h:outputLink value="#{applicationConfiguration.getValueOfVariable('application_documentation')}"
                                  target="_blank">
                        <span class="fa fa-question-circle" style="float: left; margin-top: -0.07em;"></span>
                        <h:outputText value="#{messages['net.ihe.gazelle.atna.Help']}"/>
                    </h:outputLink>
                </li>
                <h:panelGroup rendered="#{identity.loggedIn}">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false">
                            <h:outputText id="menuWelcomeId" value="#{credentials.username}"/>
                            <span class="caret"/>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <s:link id="menuLogoutId" view="/home.seam" action="#{identity.logout()}"
                                        propagation="none" actionListener="#{userAttributes.removeUserSCas()}">
                                    <span class="fa fa-sign-out"></span>#{messages['net.ihe.gazelle.atna.Logout']}
                                    #{messages['net.ihe.gazelle.atna.From']}
                                    #{userAttributes.getCasKeyword()} #{messages['net.ihe.gazelle.atna.CAS']}
                                </s:link>
                            </li>
                        </ul>
                    </li>
                </h:panelGroup>
                <h:panelGroup
                        rendered="#{not identity.loggedIn and not applicationAttributes.isSecondCasEnabled() and not applicationAttributes.isWorksWithoutCas()}">
                    <li>
                        <s:link id="loginCASLink" view="/cas/home.xhtml">
                            <span class="fa"></span>
                            <h:outputText value="#{messages['net.ihe.gazelle.atna.Login']}"/>
                        </s:link>
                    </li>
                </h:panelGroup>
                <h:panelGroup
                        rendered="#{not identity.loggedIn and applicationAttributes.isSecondCasEnabled() and not applicationAttributes.isWorksWithoutCas()}">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false">
                            <h:outputText id="menu2login" value="#{messages['net.ihe.gazelle.atna.Login']}"/>
                            <span class="caret"/>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <s:link view="/cas/home.seam">
                                    <f:param name="cas" value="main"/>
                                    <h:outputText value="#{applicationAttributes.getMainCasName()}"/>
                                </s:link>
                            </li>
                            <li>
                                <s:link view="/cas/home.seam">
                                    <f:param name="cas" value="second"/>
                                    <h:outputText value="#{applicationAttributes.getSecondCasName()}"/>
                                </s:link>
                            </li>
                        </ul>
                    </li>
                </h:panelGroup>
                <h:panelGroup rendered="#{not identity.loggedIn and applicationAttributes.isWorksWithoutCas()}">
                    <li>
                        <h:commandLink id="loginIPLink" execute="@this" action="#{applicationAttributes.loginByIP()}">
                            <span class="fa"></span>
                            <h:outputText value="#{messages['net.ihe.gazelle.atna.Login']}"/>
                        </h:commandLink>
                    </li>
                </h:panelGroup>
            </ui:define>

        </ui:decorate>
    </h:form>
</ui:composition>