<ui:composition xmlns:s="http://jboss.org/schema/seam/taglib" xmlns:gdk="http://www.ihe.net/gazellecdk"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:rich="http://richfaces.org/rich"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:g="http://www.ihe.net/gazelle"
                xmlns="http://www.w3.org/1999/xhtml">

    <ui:decorate template="/layout/display/_data_list_item.xhtml">
        <ui:define name="label">#{messages['net.ihe.gazelle.atna.Status']}</ui:define>
        <ui:param name="dd_styleClass" value="gzl-dd-label"/>
        <h:outputText value="#{messages['net.ihe.gazelle.atna.Running']}"
                      styleClass="gzl-label gzl-label-green"
                      rendered="#{syslogCollectorServerLauncher.isRunning()}"/>
        <h:outputText value="#{messages['net.ihe.gazelle.atna.Stopped']}"
                      styleClass="gzl-label gzl-label-red"
                      rendered="#{not syslogCollectorServerLauncher.isRunning()}"/>
    </ui:decorate>

</ui:composition>