<ui:composition xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:gdk="http://www.ihe.net/gazellecdk"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:g="http://www.ihe.net/gazelle"
                xmlns="http://www.w3.org/1999/xhtml"
                template="//layout/template.xhtml">
    <ui:define name="body">
        <h2>#{messages['net.ihe.gazelle.proxy.SyslogMessage']}</h2>
        <s:decorate template="/layout/panels/_panel_title.xhtml" rendered="#{syslogMessageView.isReady()}">
            <ui:define name="panel_title">#{messages['net.ihe.gazelle.proxy.Details']}</ui:define>
            <ui:param name="sysMsg" value="#{syslogMessageView.syslogMessage}"/>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <dl class="dl-horizontal">
                            <ui:decorate template="/layout/display/_data_list_item.xhtml">
                                <ui:define name="label">#{messages['net.ihe.gazelle.atna.SyslogMessageId']}</ui:define>
                                <h:outputText value="#{sysMsg.id}"/>
                            </ui:decorate>
                            <ui:decorate template="/layout/display/_data_list_item.xhtml">
                                <ui:define name="label">#{messages['net.ihe.gazelle.questionnaire.PermanentLink']}</ui:define>
                                <h:outputLink value="#{syslogMessageView.getPermanentLink(sysMsg)}">
                                    #{syslogMessageView.getPermanentLink(sysMsg)}
                                </h:outputLink>
                            </ui:decorate>

                            <ui:decorate template="/layout/display/_data_list_item.xhtml">
                                <ui:define name="label">#{messages['net.ihe.gazelle.proxy.Timestamp']}</ui:define>
                                <h:outputText value="#{syslogMessageView.getSyslogMessageTimestamp(sysMsg)}"/>
                            </ui:decorate>
                            <ui:decorate template="/layout/display/_data_list_item.xhtml">
                                <ui:define name="label">#{messages['net.ihe.gazelle.atna.SenderIPHost']}</ui:define>
                                <h:outputText value="#{sysMsg.senderIP}"/>
                            </ui:decorate>
                            <ui:decorate template="/layout/display/_data_list_item.xhtml">
                                <ui:define name="label">#{messages['net.ihe.gazelle.atna.CollectorIPHost']}</ui:define>
                                <h:outputText value="#{sysMsg.collectorIP}"/>
                            </ui:decorate>
                            <ui:decorate template="/layout/display/_data_list_item.xhtml">
                                <ui:define name="label">#{messages['net.ihe.gazelle.atna.CollectorPort']}</ui:define>
                                <h:outputText value="#{sysMsg.collectorPort}"/>
                            </ui:decorate>
                            <ui:decorate template="/layout/display/_data_list_item.xhtml">
                                <ui:define name="label">#{messages['net.ihe.gazelle.atna.Transport']}</ui:define>
                                <h:outputText value="#{sysMsg.transportType.getFriendlyName()}"/>
                            </ui:decorate>
                            <ui:decorate template="/layout/display/_data_list_item.xhtml">
                                <ui:define name="label">#{messages['net.ihe.gazelle.atna.ErrorMessage']}</ui:define>
                                <h:outputText value="#{sysMsg.errorMessage}"/>
                            </ui:decorate>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <dl class="dl-horizontal">
                            <ui:decorate template="/layout/display/_data_list_item.xhtml">
                                <ui:define name="label">#{messages['net.ihe.gazelle.atna.RFC5424Parsing']}</ui:define>
                                <ui:param name="dd_styleClass" value="gzl-dd-label"/>
                                <h:outputText value="#{messages['net.ihe.gazelle.atna.Succeed']}"
                                              styleClass="gzl-label gzl-label-green"
                                              rendered="#{sysMsg.syslogParsingResult.rfc5424ParseSucceed}"/>
                                <h:outputText value="#{messages['net.ihe.gazelle.atna.Failed']}"
                                              styleClass="gzl-label gzl-label-red"
                                              rendered="#{not sysMsg.syslogParsingResult.rfc5424ParseSucceed}"/>
                            </ui:decorate>
                            <ui:decorate template="/layout/display/_data_list_item.xhtml">
                                <ui:define name="label">#{messages['net.ihe.gazelle.atna.ErrorMessage']}</ui:define>
                                <h:outputText value="#{sysMsg.syslogParsingResult.rfc5424ErrorMessage}"/>
                            </ui:decorate>
                            <ui:decorate template="/layout/display/_data_list_item.xhtml">
                                <ui:define name="label">#{messages['net.ihe.gazelle.atna.ErrorSubstring']}</ui:define>
                                <h:outputText value="#{sysMsg.syslogParsingResult.rfc5424ErrorSubstring}"/>
                            </ui:decorate>
                            <ui:decorate template="/layout/display/_data_list_item.xhtml">
                                <ui:define name="label">#{messages['net.ihe.gazelle.atna.ErrorLocation']}</ui:define>
                                <h:outputText value="#{sysMsg.syslogParsingResult.rfc5424ErrorLocation}"/>
                            </ui:decorate>
                        </dl>
                    </div>
                </div>
                <div class="row">
                    <dl class="dl-horizontal">
                        <ui:decorate template="/layout/display/_data_list_item.xhtml">
                            <ui:define name="label">#{messages['net.ihe.gazelle.atna.RawMessage']}</ui:define>
                            <div class="well">
                                <h:outputText value="#{sysMsg.rawMessage}" escape="true"
                                              style="font-family: monospace; overflow-wrap: break-word; word-wrap: break-word;"/>
                            </div>
                        </ui:decorate>
                        <ui:decorate template="/layout/display/_data_list_item.xhtml">
                            <ui:define name="label">#{messages['net.ihe.gazelle.atna.MessageContent']}</ui:define>
                            <div class="well">
                                <gdk:insert content="#{syslogMessageView.getXMLFormated(sysMsg.messageContent)}"
                                            highlight="xml"
                                            encoding="UTF-8"
                                            style="font-family: monospace; overflow-wrap: break-word; word-wrap: break-word;"/>
                            </div>
                        </ui:decorate>
                    </dl>
                </div>
            </div>


        </s:decorate>
        <h:outputLink value="#{syslogMessageView.getSyslogMessageListLink()}" styleClass="gzl-btn">
            #{messages['net.ihe.gazelle.atna.BackToList']}
        </h:outputLink>
    </ui:define>
</ui:composition>