<ui:composition xmlns:s="http://jboss.org/schema/seam/taglib" xmlns:gdk="http://www.ihe.net/gazellecdk"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:rich="http://richfaces.org/rich"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:g="http://www.ihe.net/gazelle"
                xmlns="http://www.w3.org/1999/xhtml" template="layout/template.xhtml">
    <ui:define name="body">
        <h:form id="homeForm">

            <!--<s:token id="homeFormToken" enableCookieNotice="true" allowMultiplePosts="true"/>-->
            #{homeManagerBean.initializeHome()}

            <s:div id="title" rendered="#{not identity.loggedIn or not s:hasRole('admin_role')}">
                <h1>
                    <h:outputText value="#{homeManagerBean.selectedHome.homeTitle}"
                                  rendered="#{not empty homeManagerBean.selectedHome.homeTitle}"/>
                    <h:outputText
                            value="#{messages['net.ihe.gazelle.atna.NoTitleHasBeenDefinedForTheSelectedLanguage']}"
                            rendered="#{empty homeManagerBean.selectedHome.homeTitle}"/>
                </h1>
            </s:div>

            <s:div id="titleForAdmin" rendered="#{identity.loggedIn and s:hasRole('admin_role')}"
                   title="#{messages['net.ihe.gazelle.atna.ClickToEdit']}">
                <h1>
                    <rich:inplaceInput id="titleEdit" defaultLabel="Define the home title here"
                                       value="#{homeManagerBean.selectedHome.homeTitle}" showControls="true"
                                       inputWidth="600">
                        <a4j:ajax event="change" render="titleForAdmin" listener="#{homeManagerBean.save()}"/>
                    </rich:inplaceInput>
                </h1>
            </s:div>

            <s:div id="homeInfo" styleClass="panel panel-default">
                <div class="panel-body">
                    <h:outputText value="#{homeManagerBean.selectedHome.mainContent}"
                                  rendered="#{not homeManagerBean.mainContentEditMode and not empty homeManagerBean.selectedHome.mainContent}"
                                  escape="false"/>
                    <h:outputText
                            value="#{messages['net.ihe.gazelle.atna.NoHomeContentHasBeenDefinedForTheSelectedLanguag']}"
                            rendered="#{not homeManagerBean.mainContentEditMode and empty homeManagerBean.selectedHome.mainContent}"/>

                    <a4j:region id="mainContentRegion" rendered="#{homeManagerBean.mainContentEditMode}">
                        <ui:decorate template="/layout/editor/_text_editor.xhtml">
                            <ui:param name="id" value="mainEditor"/>
                            <ui:param name="text" value="#{homeManagerBean.selectedHome.mainContent}"/>
                            <ui:param name="editor_height" value="220"/>
                        </ui:decorate>
                    </a4j:region>
                </div>
                <s:div id="homeAdminButton" styleClass="panel-footer"
                       rendered="#{identity.loggedIn and s:hasRole('admin_role')}">
                    <a4j:commandButton styleClass="gzl-btn" execute="homeFormToken"
                                       rendered="#{not homeManagerBean.mainContentEditMode}"
                                       value="#{messages['net.ihe.gazelle.atna.EditHomeContent']}"
                                       actionListener="#{homeManagerBean.editMainContent()}" render="homeInfo"/>
                    <a4j:commandButton styleClass="gzl-btn-blue" execute="homeFormToken,mainContentRegion"
                                       value="#{messages['net.ihe.gazelle.atna.Save']}"
                                       rendered="#{homeManagerBean.mainContentEditMode}"
                                       actionListener="#{homeManagerBean.save()}" render="homeInfo"/>
                    <a4j:commandButton styleClass="gzl-btn" execute="homeFormToken"
                                       value="#{messages['net.ihe.gazelle.atna.Cancel']}"
                                       rendered="#{homeManagerBean.mainContentEditMode}"
                                       actionListener="#{homeManagerBean.cancel()}" render="homeInfo"/>

                </s:div>
            </s:div>
        </h:form>

    </ui:define>
</ui:composition>



